*.code-workspace
*.csv
*.jl.*.cov
*.jl.cov
*.jl.mem
*.jld2
*.mat
*.parquet
.CondaPkg/
.vscode
/docs/Manifest.toml
/docs/build/
Artifacts.toml
LocalPreferences.toml
Manifest.toml
data
docs/build/
docs/site/
lcov*.info
